
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

button.criptografar {
    color:red;
   
}

button.descriptografar{
    color: blue;
   
}

button.copiar {
    color: green;
   
}

p {
    color: gray;
   
}



